<footer role="contentinfo" class="footer bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="sr-only">Support links</h2>

                <ul class="list-unstyled d-flex flex-wrap">
                    <li><a href="https://support.environment.data.gov.uk/hc/en-gb" class="footer-link mr-3">Contact
                            Us</a></li>
                    <li><a href="https://support.environment.data.gov.uk/hc/en-gb/articles/360015443132-Terms-and-Conditions"
                            class="footer-link mr-3">Terms and Conditions</a></li>
                    <li><a href="https://support.environment.data.gov.uk/hc/en-gb/articles/360015530271-Privacy-Notice"
                            class="footer-link mr-3">Privacy Policy</a></li>
                    <li><a href="https://environment.data.gov.uk/cookies" class="footer-link mr-3">Cookies</a></li>
                    <li><a href="https://support.environment.data.gov.uk/hc/en-gb/articles/360013538897-Accessibility-Statement-For-Defra-Data-Services-Platform"
                            class="footer-link mr-3">Accessibility</a></li>

                </ul>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="41px" height="17px" aria-hidden="true"
                        class="ogl-logo" focusable="false" viewBox="0 0 483.2 195.7">
                        <path fill="currentColor"
                            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 01221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 00268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0097.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 00149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145">
                        </path>
                    </svg>All content is available under the <a class="footer-link"
                        href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                        rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
                <p>© Crown Copyright 2021</p>

                <p>Built by <a href="https://www.swirrl.com/" class="footer-link">Swirrl</a></p>
            </div>
        </div>
    </div>
</footer>