/* TYPOGRAPHY */

body {
  color: #0b0c0c;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
/* Make .lead weight normal, because 300 is too thin for readability */
.lead {
  font-weight: normal;
}
.text-secondary {
  color: #42474c !important;
}

/* COLOURS */
.bg-dark {
    background-color: #0b0c0c!important;
}
.bg-light {
    background-color: #e9ecef!important;
}
.bg-brand {
    background-color: #00a33b!important;
}

/* LINKS */
a {
    color: #1d70b8;
    text-decoration:underline;
}
a:hover {
    color: #003078;
}
a:focus {
    background-color: #ffdd00!important;
    color: #0b0c0c!important;
    outline: 3px solid transparent;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
}
a.text-white:hover {
    color: #cbd3da!important;
}
a.text-white:focus {
    color: #0b0c0c!important;
}

/* BUTTONS */
.btn {
    transition: none;
    border-radius: 0.25rem;
}

a.btn  {
    text-decoration: none;
}

.btn-primary {
    background-color:#00763c;
    border-color:#00763c;
    box-shadow: 0 2px 0 #0b0c0c;
}

.btn-primary:hover {
    background-color:#005a30;
    border-color:#005a30;
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color:#ffdd00;
    border-color:#ffdd00;
    color:#0b0c0c;
    box-shadow: 0 2px 0 #0b0c0c;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color:#005a30;
    border-color:#005a30;
    position: relative;
    top:2px;
}

/* COOKIE BANNER */
.cookie-banner h2 {
    font-size: 1.125rem;
}

@media (min-width: 992px) {
    .cookie-banner h2 {
        font-size: 1.5rem;
    }
}

.cookie-banner p {
    font-size: 1rem;
}

@media (min-width: 992px) {
    .cookie-banner p {
        font-size: 1.1875rem;
    }
}

.cookie-banner p a {
    font-weight: bold;
    color: #0b0c0c;
    text-decoration: underline;
}

.cookie-banner .btn {
    display: block;
    width: 100%;
}

@media (min-width: 992px) {
    .cookie-banner .btn {
        font-size: 1.1875rem;
    }
}

/* SKIP LINK */
.skip-link {
    color: #0b0c0c;
    text-decoration: underline!important;
    background-color: #ffdd00;
    outline: 3px solid transparent;
    display: block;
    width: 100%;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.skip-link:hover {
    color: #0b0c0c;
}
/* Remove focus outline style */
[tabindex="-1"] {
  outline: none; 
}

/* HEADER */
.defra-header-border {
    border-bottom: 5px solid #00a33b;
}
@media (min-width: 576px) {
    .defra-header {
        font-size:1.125rem; /* 18px */
        line-height: 1; /* Fix line-height to give us easier control over logo height on wider screens */
    }
}
.defra-header a {
    text-decoration: none; /* Remove underline from most links */
}
.defra-header a[aria-current] {
    color: #8e9196 !important;
}
.defra-header a[aria-current]:focus {
    color: #0b0c0c !important;
}
.defra-header a:hover{
    text-decoration: underline; /* Show underline on hover */
}
/* DSP header */
/* Defra logo */
.defra-logo {
    border-left: 2px solid white; /* Add left border to logo */
    line-height: 1.2; /* Set line-height to slightly tighter than normal text */
    padding-left: 0.5rem; /* Add spacing on left */
    margin-top: 1.0625rem; /* 17px */
    margin-bottom: 1.0625rem; /* 17px */
}
@media (min-width: 576px) {
    .defra-logo {
        margin-top: 0.9375rem; /* 15px */
        margin-bottom: 0.9375rem; /* 15px */
    }
}
.gov-crest {
    margin-bottom: 0.25rem; /* Margin below crest when logo is stacked  */
    width: 1.5rem; /* 24px */ /* Adjust size on mobile  */
    height: 1.2725rem; /* 20.36px */ /* Adjust size on mobile  */
}
@media (min-width: 576px) {
    .gov-crest {
        margin-bottom: 0; /* Remove margin when logo is on one line  */
        width: 1.875rem; /* 30px */ /* Adjust size on larger widths  */
        height: 1.590625rem; /* 25.45px */ /* Adjust size on larger widths  */
    }
}
.defra-logo-text {
    display: block; /* Force text onto new line when logo is stacked */
}
@media (min-width: 576px) {
    .defra-logo-text {
        display: inline; /* Put text on same line as gov crest */
        position: relative; /* Tweak position */
        top: 0.15rem; /* Tweak position */
        margin-left: 0.5rem; /* Add spacing on left when logo is on one line */
    }
}
@media (min-width: 576px) {
    .defra-logo br {
        display: none; /* Hide line breaks so that logo goes onto one line when there's enough space */
    }
}
/* DSP home link */
.dsp-home-link-container {
    margin-bottom: 1.0625rem; /* 17px */
}
@media (min-width: 576px) {
    .dsp-home-link-container {
        margin-bottom: 0.9375rem; /* 15px */
    }
}
@media (min-width: 768px) {
    .dsp-home-link-container {
        margin-top: 0.9375rem; /* 15px */
        margin-bottom: 0.9375rem; /* 15px */
    }
}
.icon-home {
    display: none; /* Hide icon on mobile */
}
@media (min-width: 768px) {
    .icon-home {
        display: inline-block; /* Display logo on wider screens */
        position: relative; /* Tweak position */
        top: -0.1rem; /* Tweak position */
        margin-right: 0.2rem; /* Spacing between icon and text */
    }
}
a.dsp-home-link {
    text-decoration: underline; /* Underline home link */
}
a.dsp-home-link:focus{
    text-decoration: none; /* Remove underline when keyboard focussed */
}
@media (min-width: 768px) {
    .dsp-home-link {
        position: relative; /* Tweak position */
        top: 0.3rem; /* Tweak position */
    }
}
/* App header */
.app-header-border {
    border-top: 1px solid #42474c; /* Add border between defra header and app header */
}
/* Nav */
#navButton {
    display: none; /* #navButton is hidden by default, i.e. unless JS is available */
    background: none; /* Remove background */
    border: 0; /* Remove border */
    color:white; /* Make text and icon white */
}

.js #navButton {
    display: inline; /* Display #navButton when JS is available */
}

#navButton:hover {
    color: #cbd3da; /* Make text and icon darker */
    text-decoration: underline; /* Add underline to text */
}

#navButton:focus {
    color: #0b0c0c; /* Make text and icon almost black */
    background: #ffdd00; /* Make background yellow */
    outline: 3px solid transparent; /* Make transparent outline to override browser default */
}

#navButton .nav-icon-up {
    display: none; /* Hide up icon by default */
}

#navButton[aria-expanded="true"] .nav-icon-down {
    display: none; /* Hide down icon if menu is expanded */
}

#navButton[aria-expanded="true"] .nav-icon-up {
    display: inline; /* Show up icon if menu is expanded */
}

#navButton[aria-expanded="false"] .nav-icon-down {
    display: inline; /* Show down icon if menu is NOT expanded */
}

#navButton svg {
    position: relative;
    top: -0.1rem;
}

@media (min-width: 992px) {
    .js #navButton {
        display: none; /* Hide menu button on larger screens, because the full nav will fit */
    }
}

.nav-current-item:hover,
.nav-current-item:focus {
    color: #cbd3da; /* Make current page link slightly darker */
}

.js #navMenu {
    display: none; /* Hide menu links if JS is available */
}

.js #navMenu.is-active {
    display: block; /* Display menu links */
}

#navMenu li {
    border-bottom: 1px solid #42474c; /* Add border between menu links */
}

@media (min-width: 992px) {
    #navMenu li {
        border-bottom: none; /* Hide border on larger screens */
        margin-left: 1.6rem;
    }
    #navMenu li:first-child {
        margin-left: 0;
    }
}

#navMenu svg {
    margin-right: 0.4rem; 
    position: relative;
    top: 0.1rem;
    /* Position icons inside stacked nav menu */
}

/* BREADCRUMBS */

.breadcrumb-item.active {
  color: #42474c !important;
}

/* FOOTER */
.footer {
    border-top: 1px solid #cbd3da;
    font-size: 0.875rem; /* 14px */
}
@media (min-width: 768px) {
    .footer {
        font-size: 1rem; /* 16px */
    }
}
.footer-link {
    color: #0b0c0c;
    text-decoration: underline;
}
.footer-link:hover {
    color: #0b0c0c;
}
.ogl-logo {
    display: block;
    margin-bottom: 0.3rem;
}
@media (min-width: 992px) {
    .ogl-logo {
        display: inline;
        margin-right: 0.5rem;
        margin-bottom: 0;
        position: relative;
        top: -0.15rem;
    }
}

/* FORMS */

label {
  display: block;
}

form {
  margin-bottom: 20px;
}

.form-list {
  max-height: 200px;
  overflow: scroll;
}

.form-control {
  border: 2px solid #42474c;
  border-radius: 0;
}

.form-control:focus {
  border-color: #42474c;
}

.form-control::placeholder,
.form-control {
  opacity: 1;
  color: #0b0c0c;
}

.form-check-input,
.form-check-label {
  cursor: pointer;
}

/* SIGNIN FORM */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding-top: 150px;
  padding-bottom: 150px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 1rem;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* JUMBOTRON */
.jumbotron {
  background-color: #f8f8f8;
  /* background-color: #D8F1FB; */
}

/* Beta banner */

.beta-banner {
    padding-top: 10px;
    padding-bottom: 10px;
}

.beta-banner-text {
    margin: 0;
}

.beta-banner-tag {
    background-color: #1d70b8;
    color: #ffffff;
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    margin-right: 4px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: baseline;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #00a33b;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }